@font-face {
  font-family: Vonique64;
  src: url(../fonts/Vonique64.ttf);
}

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

h1, h2 {
  margin: 0;
}

.hide {
  opacity: 0;
  transition: all 0.5s;
}

.overlay {
  z-index: 3;
}

#loading {
  height: 80px;
  left: 50%;
  position: fixed;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

#container {
  width: 270px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -40px;
  margin-left: -135px;
  transition: all 0.5s;
  z-index: 1;
}

#search, #logo {
  display: flex;
  position: absolute;
  transition: all 0.5s;
}

#logo {
  bottom: 0;
}

#search div {
  flex: 1;
}

#logo img {
  flex: 0;
  margin-left: 8px;
  margin-top: 4px;
}

#product-name {
  font-family: Vonique64;
  font-size: 27px;
  line-height: 54px;
  margin-left: 14px;
  white-space: nowrap;
}

#keyword {
  border: solid #666 1px;
  box-shadow: none;
  border-radius: 3px;
  height: 30px;
  margin-left: 4px;
  padding: 4px 8px;
  width: 200px;
}

#go {
  background-color: #dedede;
  border: solid #666 1px;
  box-shadow: none;
  border-radius: 3px;
  height: 40px;
  margin-left: 4px;
  width: 50px;
}

#container.top {
  margin-left: -175px;
  margin-top: 0;
  top: 10px;
  height: 56px;
  width: 350px;
}

#search.top {
  margin-right: 6px;
  margin-top: 10px;
  right: 0;
}

#list {
  background-color: #ffd823;
  font-family: Vonique64;
  font-size: 30px;
  left: 50%;
  list-style: none outside;
  margin: 80px auto;
  max-height: 80%;
  overflow-y: scroll;
  padding: 0;
  position: fixed;
  text-align: center;
  transition: all 0.5s;
  transform: translateX(-50%);
  width: 600px;
  z-index: 1;
}

#list li {
  border-bottom: solid #dea42d;
  cursor: pointer;
  height: 40px;
}

#details {
  height: 200px;
  left: 50%;
  margin: 80px auto;
  position: fixed;
  transition: all 0.5s;
  transform: translateX(-50%);
  width: 600px;
}

#details h2 {
  background-color: #dea42d;
  font-family: Vonique64;
  font-size: 30px;
  text-align: center;
}

#details.body {
  display: flex;
}

#details img {
  width: 20%;
}

#stats {
  flex: 1;
  float: right;
  font-size: 24px;
  width: 80%;
}

#stats tr {
  border-bottom: solid #ffd823 2px;
}
